@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";

:root {
    --color-primary: #E23744;
}

.red-text {
    color: #ef4444 !important;
}

@layer base {

    /*typography classes*/
    .h1 {
        @apply text-5xl font-semibold;
    }

    .h2 {
        @apply text-4xl font-semibold;
    }

    .h3 {
        @apply text-3xl font-semibold;
    }

    .h4 {
        @apply text-2xl font-semibold mb-4;
    }

    .h5 {
        @apply text-xl font-semibold;
    }

    .h6 {
        @apply text-lg font-semibold;
    }

    .p {
        @apply text-sm leading-6 font-normal;
    }
}

@layer components {
    .link {
        @apply text-primary py-0 border-transparent border-b-primary  border-b-2 font-semibold px-1 transition-colors border-2 hover:text-black hover:border-b-black cursor-pointer ;
    }

    .link-black{
        @apply text-black border-b-black;    }

    .btn {
        @apply py-3 px-6 rounded-lg text-sm font-semibold   focus:ring-4 focus:outline-none focus:ring-blue-300  !important;
    }

    .btn-outline {
        @apply border-black border-2 border-solid  !important;
    }

    .btn-black {
        @apply bg-black text-white !important;
    }

    .btn-lg {
        @apply py-3 px-8 text-base;
    }

    .black-btn {
        @apply bg-black text-white text-sm normal-case !important;
    }

    .small-avtar {
        @apply h-8 w-8 !important;
    }

    .cross-icon {
        @apply text-lg mb-2 !important;
    }

    .canel-big-icon {
        @apply text-red-600 text-7xl !important;
    }

    .big-avtar {
        height: 60px !important;
        width: 60px !important;
    }

    .big-btn {
        @apply px-10 py-5 rounded-lg !important;
    }

    .btn-icon {
        @apply text-white inline-flex items-center mr-2 gap-1 justify-center leading-none;
    }

    .btn-icon svg {
        @apply w-5 h-5 -ml-1
    }

    .wrapper {
        @apply mx-auto w-11/12 max-w-screen-xl;
    }

    .center-all {
        @apply flex items-center justify-center;
    }

    .form-checkbox {
        @apply w-5 h-5 text-blue-600 bg-gray-100 rounded-sm border-gray-300 font-light;
    }

    .form-input, .form-textarea, .form-select {
        @apply p-4 border-gray-300 border-2 rounded-md w-full text-base font-medium focus:border-red-300 focus:ring-1 focus:ring-red-400  outline-none;
    }

    .form-select *, .form-select .MuiInputBase-root{
        @apply outline-none ring-transparent !important;
    }
    .form-input::placeholder {
        @apply font-normal text-gray-500;
    }
}


.form-select .MuiInputBase-root{
    height: 100%;
    border:none !important;
    outline: none !important;
}

.icon-white{
    filter: brightness(0) invert(1);
}

.hehe > .MuiDialog-paperScrollPaper{
    /* 2px !important", borderColor: "rgb(226, 54, 68) !important" */
    border: 2px solid rgb(226, 54, 68) !important;

}
.profileImg{
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.trimString{
    display: -webkit-box;
    height:3.9em; 
    overflow: hidden;
     text-overflow: ellipsis ;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}





p.detail-description {
    color: #9f9494;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 26px; */
    letter-spacing: 0.5px;
    margin-bottom: 20px;
  }
  h3.detail-subtitle {
    color: #4b4747;
    font-size: 18px;
    font-weight: 400;
    /* line-height: 26px; */
    letter-spacing: 0.33px;
    margin-bottom: 15px;
  }
  .content-main{
    padding: 90px 80px;
  }
  .content-name{
    font-size: 30px;
    text-align: center;
  }
  .content-head{
    text-align: center;
    padding-bottom: 50px;
  }

  ul.detail-list {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
  ul.detail-list li {
    list-style: disc;
    color: #9f9494;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 26px; */
    letter-spacing: 0.33px;
    margin-bottom: 10px;
    text-indent: 20px;
  }
  
  @media (max-width: 768px) {
    .content-main{
        padding: 90px 25px;
      }
      .content-name{
        font-size: 25px;
      }
      ul.detail-list {
        padding-left: 20px;
      }
      ul.detail-list li {
        text-indent: 0;
      }
      ul.detail-list li  {
        font-size: 16px;
      }
    
  }
  .contact-field{
    margin-bottom: 15px;
 }
 .contact-form{
     width: 600px;
     border: 1px solid black;
     border-radius: 5px;
     padding: 50px;
     margin: auto;
 }

 .tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    font-size: large;
    cursor: pointer;
  }
  
  .tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
  }

  .cartValue{
    width: 20px;
    font-size: 11px;
    font-weight: 500;
    position: absolute;
    top: -8px;
    right: -5px;
    /* color: #E23744; */
    color: #ffffff;
    /* background: white; */
    background: #E23744;
    border-radius: 50%;
    border: 2px solid;
    text-align: center;
  }
  .cartValue-mobile{
    width: 14px;
    font-size: 8px;
    font-weight: 500;
    position: absolute;
    top: -7px;
    right: -5px;
    /* color: #E23744; */
    color: #ffffff;
    /* background: white; */
    background: #E23744;
    border-radius: 50%;
    border: 2px solid;
    text-align: center;
  }

  .trimStringChefTime{
    display: -webkit-box;
    height:1.8em; 
    overflow: hidden;
     text-overflow: ellipsis ;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}